.envs/
.ipython/
.jupyter_config/
.jupyter_data/
.local/
.mplconfig/
bin/
info/
lib/
micromamba.tar.bz2
github_home.png
extract_pdf.swift
Library/
mongodb-atlas-cli/
mongodb-atlas-cli_1.55.0_macos_arm64.zip
